<a href="https://colab.research.google.com/github/Saujanyapokhrel/Data-Processing-Visualization/blob/main/Quiz17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#importing panda and reading the CSV file.

In [8]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')
df.head()

   SepalLength  SepalWidth  PedalLength  PedalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

##reading the data as an int

In [2]:
df.SepalLength.astype('int')

0      5
1      4
2      4
3      4
4      5
      ..
145    6
146    6
147    6
148    6
149    5
Name: SepalLength, Length: 150, dtype: int64

##computing the mean as int

In [3]:
df.SepalLength.mean()

5.843333333333335

## computing the mean after converting the data as integer

In [4]:
df.SepalLength.astype('int').mean()

5.386666666666667

# we can see that there is a difference in mean after converting the sepallength and the value decreases.

## arranging the dataset by class

In [11]:
df.groupby('Class')
df.head()

   SepalLength  SepalWidth  PedalLength  PedalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

# we can see that there is no change so there is no change in direction of shift.

##finging the mean, median, count, and sd

In [9]:
df.groupby('Class').agg(['mean','median','count','std'])

                SepalLength               ... PedalWidth
                       mean median count  ...     median count       std
Class                                     ...
Iris-setosa           5.006    5.0    50  ...        0.2    50  0.107210
Iris-versicolor       5.936    5.9    50  ...        1.3    50  0.197753
Iris-virginica        6.588    6.5    50  ...        2.0    50  0.274650

[3 rows x 16 columns]