<a href="https://colab.research.google.com/github/Saujanyapokhrel/Data-Processing-Visualization/blob/main/Quiz7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [16]:
%%bigquery --project data-visualization-338722
SELECT 
  start_station_name,
  COUNT(*) as total_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`   
GROUP BY start_station_name
ORDER BY total_trips ASC

             start_station_name  total_trips
0                        Stolen            1
1                 Eeyore's 2017            1
2         cesar Chavez/Congress            1
3                 Eeyore's 2018            2
4    Mobile Station @ Unplugged            4
..                          ...          ...
188        Rainey St @ Cummings        34758
189              2nd & Congress        35307
190    City Hall / Lavaca & 2nd        36520
191        Riverside @ S. Lamar        40635
192        21st & Speedway @PCL        72799

[193 rows x 2 columns]

In [25]:
%%bigquery --project data-visualization-338722
SELECT 
  start_station_name,
  COUNT(*)<=10 as total_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`   
GROUP BY start_station_name
ORDER BY total_trips DESC

                              start_station_name  total_trips
0                          cesar Chavez/Congress         True
1                                Marketing Event         True
2                               Customer Service         True
3                                  Eeyore's 2018         True
4    Mobile Station @ Boardwalk Opening Ceremony         True
..                                           ...          ...
188        Republic Square @ Guadalupe & 4th St.        False
189                                   3rd & West        False
190                                     3rd/West        False
191                                Nueces & 26th        False
192                                  26th/Nueces        False

[193 rows x 2 columns]