<a href="https://colab.research.google.com/github/Saujanyapokhrel/Data-Processing-Visualization/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Authenticating the user

In [7]:
%%bigquery --project data-visualization-338722
SELECT 
  start_station_name,
  COUNT(*) as total_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY total_trips DESC

           start_station_name  total_trips
0        21st & Speedway @PCL        72799
1        Riverside @ S. Lamar        40635
2    City Hall / Lavaca & 2nd        36520
3              2nd & Congress        35307
4        Rainey St @ Cummings        34758
..                        ...          ...
188           Marketing Event            4
189             Eeyore's 2018            2
190                    Stolen            1
191             Eeyore's 2017            1
192     cesar Chavez/Congress            1

[193 rows x 2 columns]

Getting data from austin_bikeshare.bikeshare_trips for reference

In [8]:
%%bigquery --project data-visualization-338722
SELECT start_station_name, COUNT(*) as most_pop_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
HAVING most_pop_trip!= (SELECT MAX(most_pop_trip)as max_trip
FROM (
SELECT COUNT(*) as most_pop_trip, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
))
ORDER BY most_pop_trip DESC
LIMIT 1

     start_station_name  most_pop_trip
0  Riverside @ S. Lamar          40635

Printing the second most popular station from the database.

In [15]:
%%bigquery --project data-visualization-338722
SELECT *, COUNTIF(duration_minutes>60) as number_of_trip_taken_over_an_hour_and_round_trip
FROM (
  SELECT start_station_name, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name
)
GROUP BY duration_minutes, start_station_name
Order BY number_of_trip_taken_over_an_hour_and_round_trip DESC

         start_station_name  ...  number_of_trip_taken_over_an_hour_and_round_trip
0      Riverside @ S. Lamar  ...                                               109
1      Riverside @ S. Lamar  ...                                                95
2      Riverside @ S. Lamar  ...                                                94
3      Riverside @ S. Lamar  ...                                                90
4               Zilker Park  ...                                                88
...                     ...  ...                                               ...
24822           26th/Nueces  ...                                                 0
24823           26th/Nueces  ...                                                 0
24824           26th/Nueces  ...                                                 0
24825           26th/Nueces  ...                                                 0
24826           26th/Nueces  ...                                                 0

[24827 rows x 3 columns]

Getting the name of stations from where the round trips started and that were over an hour.